---
import ProjectPreview from '@/components/ProjectPreview.astro';
import Default from '@/layouts/Default.astro';

const projects = await Astro.glob('../project/*.md');
const sorted = projects.sort(
  (a, b) => new Date(b.frontmatter.created).valueOf() - new Date(a.frontmatter.created).valueOf()
);
const content = {
  title: 'Project',
  description: 'My hobby',
};
---

<Default {content}>
  <main class="grid grid-cols-1 sm:grid-cols-2 gap-x-6 gap-y-8">
    {sorted.map((project: any) => <ProjectPreview {project} />)}
  </main>
</Default>
