---
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';
import PageLayout from '@/layouts/PageLayout.astro';
import PostPreview from '@/components/PostPreview.astro';
import Pagination from '@/components/Pagination.astro';
import SearchPost from '@/components/SearchPost';

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection('posts');
  const sorted = posts
    .filter((post) => !(import.meta.env.PROD && post.data.draft))
    .sort((a, b) => {
      const first = new Date(b.data.created).valueOf();
      const last = new Date(a.data.created).valueOf();

      return first - last;
    });

  return paginate(sorted, { pageSize: 10 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const title = 'Blog';
const description = 'This is where I put my thoughts into writing';
---

<PageLayout {title} {description}>
  <section class="min-h-6 sm:min-h-8">
    <SearchPost client:only="preact" />
  </section>
  <ol id="posts" class="p-0">
    { page.data.map((post) => <PostPreview {...post} />) }
    <Pagination {page} />
  </ol>
</PageLayout>
