---
import type { PostProps } from '@/types/Post';
import PostPreview from '@/components/PostPreview.astro';
import Pagination from '@/components/Pagination.astro';
import SearchPost from '@/components/SearchPost';
import PageLayout from '@/layouts/PageLayout.astro';

export async function getStaticPaths({ paginate }: any) {
  const posts = await Astro.glob('../post/*.mdx')
  const sorted = posts
    .filter((post) => !(import.meta.env.PROD && post.frontmatter.draft))
    .sort((a, b) => {
      const first = new Date(b.frontmatter.created).valueOf();
      const last = new Date(a.frontmatter.created).valueOf();

      return first - last;
    });

  return paginate(sorted, { pageSize: 10 });
}

const { page } = Astro.props;
const title = 'Blog';
const description = 'This is where I put my thoughts into writing';
---

<PageLayout {title} {description}>
  <SearchPost main="main" client:only />
  <main id="main">
    { page.data.map((post: PostProps) => <PostPreview {...post} />) }
    <Pagination {page} />
  </main>
</PageLayout>
