---
import PostPreview from '@/components/PostPreview.astro';
import Pagination from '@/components/Pagination.astro';
import Search from '@/components/Search.astro';
import Default from '@/layouts/Default.astro';

export async function getStaticPaths({ paginate }) {

  let allPosts = await Astro.glob('../blog/*.md')
  allPosts = allPosts.sort(
    (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf())

  return paginate(allPosts, { pageSize: 10 });
}

const { page } = Astro.props;
const content = {
  title: 'Blog',
  description: 'This is where I put my thoughts into writing',
  footer: ''
};
---

<Default {content}>
  <Search />
  <main>
    {page.data.map((post: object) => <PostPreview {post} />)}
    <Pagination {page} />
  </main>
</Default>
