:root {
  --scrollbar-light: 63, 63, 70;
  --scrollbar-dark: 244, 244, 244;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 0.5rem;
  height: 0.25rem;
}

@media (min-width: 640px) {
  ::-webkit-scrollbar {
    height: 0.5rem;
  }
}

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--scrollbar-light), 50%);
  border-radius: 1rem;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark ::-webkit-scrollbar-thumb {
  background-color: rgba(var(--scrollbar-dark), 50%);
}

.prose :not(nav)::-webkit-scrollbar-thumb {
  background-color: rgba(var(--scrollbar-dark), 25%);
}
