html.dark .astro-code {
  filter: invert(0);
}

.astro-code {
  transition: filter 300ms cubic-bezier(0.4, 0, 0.2, 1);
  filter: invert(1) contrast(1.25);
  font-size: 0.875em;
}

.astro-code :is(code, span) {
  font-size: inherit;
  color: inherit;
}

@media (min-width: 640px) {
  .astro-code {
    font-size: 1em;
  }
}
