---
import { Image } from '@astrojs/image/components';
import Page from '@components/Page.astro';

const title = 'Home // sglkc';
const description = '@sglkc Personal Website';
---

<Page {title} {description}>
  <div
    class="fixed max-w-[768px] h-fit inset-0 bottom-16 m-auto px-8 flex gap-8"
  >
    <div>
      <div class="flex justify-between">
        <a class="block w-fit self-end" href="https://github.com/sglkc">
          <Image
            class="rounded-full m-0"
            src="/assets/logo.png"
            draggable="false"
            alt="GitHub profile"
            width="150"
            height="150"
          >
        </a>
        <nav class="flex flex-col gap-3 sm:hidden">
          <a class="hover:underline" rel="prefetch" href="/blog">Blog</a>
          <a class="hover:underline" rel="prefetch" href="#">Projects</a>
          <a class="hover:underline" rel="prefetch" href="/about">About</a>
          <a class="hover:underline cursor-pointer" href="javascript:toggleTheme()">
            Theme
          </a>
        </nav>
      </div>
      <main class="flex flex-col mt-8">
        <h1 class="font-bold text-2xl tracking-widest mb-0">
          Hi! I'm <a
            class="underline decoration-dotted"
            href="https://github.com/sglkc"
          >@sglkc</a>.
        </h1>
        <h2 class="font-semibold text-xl whitespace-nowrap">
          A <span title="I just love it too much">JavaScript-based</span> <wbr>
          Full-stack Developer
        </h2>
        <p class="text-lg text-justify">
          I'm an undergraduate and a freelancer who works mostly in
          Web Development! I speak English and Bahasa Indonesia.
        </p>
      </main>
    </div>
    <nav class="sm:flex flex-col gap-3 hidden">
      <a class="hover:underline" rel="prefetch" href="/blog">Blog</a>
      <a class="hover:underline" rel="prefetch" href="#">Projects</a>
      <a class="hover:underline" rel="prefetch" href="/about">About</a>
      <a class="hover:underline cursor-pointer" href="javascript:toggleTheme()">
        Theme
      </a>
    </nav>
  </div>
</Page>
