---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Navbar from '@/components/Navbar.astro';

const title = 'Home';
const description = 'Welcome to my personal website where I write things';
---

<BaseLayout {title} {description}>
  <div class="fixed max-w-[768px] h-fit inset-0 bottom-0 sm:bottom-8 m-auto px-8 flex gap-8">
    <div>
      <div class="flex justify-between">
        <a class="block w-fit self-end" href="https://github.com/sglkc">
          <img
            class="rounded-full m-0 drop-shadow-xl"
            src="/assets/logo.webp"
            draggable="false"
            alt="GitHub profile"
            width="150"
            height="150"
          >
        </a>
        <Navbar class="flex sm:hidden flex-col gap-3" />
      </div>
      <main class="flex flex-col">
        <h1 class="font-bold text-2xl tracking-widest mb-0">
          Hi! I'm <a
            class="underline decoration-dotted"
            href="https://github.com/sglkc"
          >@sglkc</a>.
        </h1>
        <h2 class="font-semibold text-xl whitespace-nowrap">
          A <span title="I just love it too much">JavaScript-based</span> <wbr>
            Full-stack Developer
        </h2>
        <p class="text-lg text-justify">
          I'm an undergraduate who loves Web Development! I like to explore the
          various things that you can do within a website. I speak English and
          Bahasa Indonesia. Nice to meet you!
        </p>
      </main>
    </div>
    <Navbar class="hidden sm:flex flex-col gap-3" />
  </div>
</BaseLayout>
