---
import ProjectPreview from '@/components/ProjectPreview.astro';
import PageLayout from '@/layouts/PageLayout.astro';

const projects = await Astro.glob('./project/*.mdx');
const sorted = projects.sort(
  (a, b) => new Date(b.frontmatter.created).valueOf() - new Date(a.frontmatter.created).valueOf()
);

const title = 'Projects';
const description = 'List of my projects that are worth mentioning';
---

<PageLayout {title} {description}>
  <main class="grid grid-cols-1 sm:grid-cols-2 gap-x-6 gap-y-8">
    {sorted.map((project: any) => <ProjectPreview {...project} />)}
  </main>
</PageLayout>
