<div class="giscus animate-pulse">
  <p>Loading comments...</p>
</div>

<script type="module">
const giscus = document.querySelector('.giscus');
const observer = new IntersectionObserver(([e]) => {
  if (!e.isIntersecting) return;

  observer.unobserve(giscus);

  const theme = window.localStorage.getItem('theme');
  const giscusTheme = theme === 'dark' ? 'transparent_dark' : 'light';
  const props = {
    'src': 'https://giscus.app/client.js',
    'data-repo': 'sglkc/blog',
    'data-repo-id': 'R_kgDOIdgpXA',
    'data-category': 'Announcements',
    'data-category-id': 'DIC_kwDOIdgpXM4CSsGQ',
    'data-mapping': 'pathname',
    'data-strict': '0',
    'data-reactions-enabled': '1',
    'data-emit-metadata': '0',
    'data-input-position': 'bottom',
    'data-theme': giscusTheme,
    'data-lang': 'en',
    'data-loading': 'lazy',
    'crossorigin': 'anonymous',
    'async': true
  };

  const giscusScript = document.createElement('script');

  Object.entries(props)
    .forEach(([key, value]) => giscusScript.setAttribute(key, value));

  setTimeout(() => {
    giscus.appendChild(giscusScript);
    giscus.classList.remove('animate-pulse');
    giscus.style.marginTop = '-1rem';
  }, 1000);
},
  { threshold: [0] }
);

observer.observe(giscus);

window.giscusSend = (message) => {
  const iframe = document.querySelector('iframe.giscus-frame');
  if (!iframe) return;
  iframe.contentWindow.postMessage({ giscus: message }, 'https://giscus.app');
}
</script>
