---
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<h1 class="text-3xl font-semibold mb-2">{title}</h1>
<h2 class="text-xl font-normal mt-0 mb-2">{description}</h2>
<nav
  class="flex gap-5 bg-stone-100 dark:bg-gray-900 sticky top-0 pb-2 pt-3 -mb-2 sm:pt-5 transition-[background-color]"
>
  <a class="hover:underline" rel="prefetch" href="/">Home</a>
  <a class="hover:underline" rel="prefetch" href="/blog">Blog</a>
  <a class="hover:underline" rel="prefetch" href="#">Projects</a>
  <a class="hover:underline" rel="prefetch" href="/about">About</a>
  <a class="hover:underline cursor-pointer" href="javascript:toggleTheme()">
    Theme
  </a>
</nav>
<hr />
