---
import katex from 'katex';
import 'katex/dist/katex.min.css';

type Props = {
  center?: true;
  display?: true;
  expr?: string;
}

const { center, display, expr } = Astro.props;
const render = expr ?? await Astro.slots.render('default');
const text = render.replace(/^<p>|<\/p>$/g, '');
const html = katex.renderToString(text, { displayMode: display });
---

{ center ?
  <div class="my-2 block text-center">
    <Fragment set:html={html} />
  </div>
  :
  <Fragment set:html={html} />
}
