---
import ThemeButton from './ThemeButton.jsx';

export interface Props {
  class?: string;
  grow?: boolean;
  sticky?: boolean;
}

const { class: className, grow, sticky } = Astro.props;
---

<nav
  class:list={[
    'z-5',
    className,
    (grow || sticky) && 'overflow-x-auto',
    grow && 'group',
    sticky &&
      'background flex sticky top-[-1px] pb-2 pt-3 -mb-2 sm:pb-4 sm:pt-5 gap-5'
  ]}
>
  { grow &&
    <span
      class="-mr-5 transition-[flex-grow] group-[.sticked]:grow-[0.5] duration-300 ease-out"
    ></span>
  }
  <a rel="prefetch" href="/">Home</a>
  <a rel="prefetch" href="/blog">Blog</a>
  <a rel="prefetch" href="/projects">Projects</a>
  <a rel="prefetch" href="/about">About</a>
  <ThemeButton class="underline cursor-pointer" client:load>Theme</ThemeButton>
</nav>

<script>
const nav = document.querySelector('nav') as HTMLElement;
const observer = new IntersectionObserver(
  ([e]) => e.target.classList.toggle(
    'sticked',
    e.intersectionRatio < 1
  ),
  { threshold: [1] }
);

observer.observe(nav);
</script>
