---
// TODO: use framework?
const { props } = Astro;
const classes = ['w-full text-inherit', props.class];

delete props.class;
---

<theme-button>
  <button class:list={classes} {...props}>
    <slot />
  </button>
</theme-button>

<script>
class ThemeButton extends HTMLElement {
  constructor() {
    super();

    const button = this.querySelector('button') as HTMLButtonElement;
    const classList = document.documentElement.classList;

    button.addEventListener('click', () => {
      localStorage.theme = localStorage.theme === 'light' ? 'dark' : 'light';
      if (localStorage.theme === 'dark') classList.add('dark');
      else classList.remove('dark');
    });
  }
}

customElements.define('theme-button', ThemeButton);
</script>
