---
type Props = {
  youtube_id: string;
};

const { youtube_id } = Astro.props as Props;
---

<youtube-embed data-youtube-id={youtube_id}>
  <details class="my-6">
    <summary>
      <slot>
        <p>YouTube Video</p>
      </slot>
    </summary>
    <div class="mt-2 relative pb-[56.25%] h-0 overflow-hidden max-w-full">
      <iframe class="absolute inset-0 w-full h-full" />
    </div>
  </details>
</youtube-embed>

<script>
class YoutubeEmbed extends HTMLElement {
  constructor() {
    super();

    this.addEventListener('click', () => {
      const url = 'https://youtube.com/embed/' + this.dataset.youtubeId;
      this.querySelector('iframe')!.src = url;
    }, { once: true });
  }
}

customElements.define('youtube-embed', YoutubeEmbed);
</script>
