---
import type ArticleProps from '@/types/Article';
import Navbar from '@/components/Navbar.astro';
import BaseLayout from './BaseLayout.astro';

const props = Astro.props as ArticleProps;
---

<BaseLayout {...props}>
  <Navbar class="justify-center" sticky={true} />
  <main class="tracking-tight">
    <slot />
  </main>
</BaseLayout>
