---
import type ArticleProps from '@/types/Article';
import Footer from '@/components/Footer.astro';
import Navbar from '@/components/Navbar.astro';
import BaseLayout from './BaseLayout.astro';

const props = Astro.props as ArticleProps;
---

<BaseLayout {...props}>
  <Navbar class="justify-center" sticky={true} />
  <main class="mt-12">
    <slot name="header" />
    <hr class="mt-12 mb-14" />
    <article class="tracking-tighter sm:tracking-tight">
      <slot />
    </article>
    <slot name="footer" />
    <Footer />
  </main>
</BaseLayout>
