---
import type ArticleProps from '@/types/Article';
import Footer from '@/components/Footer.astro';
import TableOfContents from '@/components/TableOfContents.astro';
import Navbar from '@/components/Navbar.astro';
import BaseLayout from './BaseLayout.astro';
import '@/styles/headings.css';
import '@/styles/shiki.css';

const props = Astro.props as ArticleProps;
const headings = Astro.props.headings;
---

<BaseLayout {...props}>
  <Navbar class="justify-center" sticky={true} />
  <main class="mt-12">
    <slot name="header" />
    <hr class="my-12" />
    <article class="tracking-tighter sm:tracking-tight">
      { !!(headings.length) && <TableOfContents {headings} /> }
      <slot />
    </article>
    <slot name="footer" />
    <Footer />
  </main>
</BaseLayout>

<script lang="js">
document.querySelectorAll('article a').forEach((anchor) => {
  const id = anchor.getAttribute('href');

  if (!id.startsWith('#')) return;

  anchor.addEventListener('click', (e) => {
    e.preventDefault();

    const elm = document.querySelector(id);

    elm.scrollIntoView({ behavior: 'smooth' });
    history.replaceState('', '', id);
  });
});
</script>
