---
import BaseHead from '@/components/BaseHead.astro';
import '@fontsource/overpass-mono';

const props = Astro.props.frontmatter ?? Astro.props;
---

<html lang="en" class="unloaded">
  <head>
    <BaseHead {...props} />
    <script is:inline>
    const classList = document.documentElement.classList;
    const prefer = window.matchMedia('(prefers-color-scheme: dark)').matches;
    const theme = localStorage.getItem('theme');

    if (theme === 'dark' || (!theme && prefer)) classList.add('dark');

    document.addEventListener(
      'DOMContentLoaded',
      () => classList.remove('unloaded')
    );
    </script>
  </head>
  <body class="background font-overpass">
    <div class="mx-auto p-8 prose prose-zinc dark:prose-invert max-w-[66ch]">
      <slot />
    </div>
  </body>
</html>
