---
import BaseHead from "@/components/BaseHead.astro";
import '@fontsource/overpass-mono';

const props = Astro.props.frontmatter ?? Astro.props;
---

<html lang="en" class="unloaded">
  <head>
    <BaseHead {...props} />
    <script is:inline>
    document.addEventListener(
      'DOMContentLoaded',
      () => document.documentElement.classList.remove('unloaded')
    );

    const classList = document.documentElement.classList;

    if (
      localStorage.theme === 'dark' ||
        (
          !localStorage.theme &&
            window.matchMedia('(prefers-color-scheme: dark)').matches
        )
    ) {
      classList.add('dark');
    }
    </script>
  </head>
  <body class="background font-overpass">
    <div class="mx-auto p-8 prose prose-zinc dark:prose-invert">
      <slot />
    </div>
  </body>
</html>
